
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Lesson Plan &nbsp &nbsp &nbsp School Year: <%= @year_plan.year_name %> </h1>
</div>
<div class="wrapper-md">
	<div class="col-md-12">
		<%= render 'form' %>
	</div>
</div>

<%#= link_to 'Back', portions_path %>
