<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Category  </h1>
</div>

<style type="text/css">
    @media(min-width: 1200px)
.abc {
  width: 1080px;
}
</style>
<div class="abc" style="">

    <div class="container" >
    	<div class="abc" style="">

    <div class="container" >
	
		<br>
        <div class="col-sm-4">
            <table class="table">
                <tbody>
                    
                    <tr>
                        <td class="student-profile-td">
                            Category
                        </td>

                        <td>
                            <%= @shopcategory.name %>
                        </td>
                    </tr>

                   
                </tbody>
            </table>
<%= link_to 'Back', shopcategories_path, class: "btn btn-color" %>

        </div>
        </div>
        </div>
        </div>
        </div>



