
<div class="abc" style="">

    <div class="container" >
      <div class="abc" style="">

    <div class="container" >
  
    <br>
        <div class="col-sm-4">
            <table class="table">
                <tbody>


              
              <tr>
                <td>Route name</td>
                <td><%= @route.name %></td>
              </tr>


                   
                </tbody>
            </table>
            <td><%= link_to 'Back', routes_path,class: "btn btn-color" %></td>

        </div>
       </div>
    </div>
  </div>
</div>


